.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 1em;
}
.input,
.textarea {
  flex-basis: 100%;
}
.sub {
  flex: 1 1 30%;
}
.button {
  flex: 1 1 50%;
}

.input {
  min-height: 2.5em;
}
.textarea {
  min-height: 5em;
}
