@value makerWheat from './common/colors.css';
* {
  box-sizing: border-box;
}
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: makerWheat;
}
